<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alex Baulch: {% block title %}{% endblock %}</title>
    <!-- icons -->
    <meta name="application-name" content="Alex Baulch - Front End Developer"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="/images/favicon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="/images/favicon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="/images/favicon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="/images/favicon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="/images/favicon/mstile-310x310.png" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/images/favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/images/favicon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/images/favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/images/favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/favicon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/images/favicon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/images/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/images/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/images/favicon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/images/favicon/favicon-128.png" sizes="128x128" />
    <!-- scripts -->
    <script type="text/javascript" src="dist/scripts/modernizr.js"></script>
    <!-- styles -->
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="/css/global.css" rel="stylesheet">
</head>
<body>
<div class="app">
    <div class="container">
        <header class="main-header">
            <nav class="navbar">
                <ul class="navbar__list">
                    <li class="navbar__item">
                        <a href="/teams" class="navbar__link">About</a>
                    </li>
                    <li class="navbar__item">
                        <a href="/fixtures" class="navbar__link">Work</a>
                    </li>
                    <li class="navbar__item">
                        <a href="/league" class="navbar__link">Contact</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="page">
            {% block content %}{% endblock %}
        </main>
        <footer>
            <ul>
                <li>
                    <a href="">Linkedin</a>
                </li>
                <li>
                    <a href="">StackOverflow</a>
                </li>
                <li>
                    <a href="">GitHub</a>
                </li>
            </ul>
            <small>&copy; Alex Baulch {{ now()|date('Y') }}</small>
        </footer>
    </div>
</div>

<script src="/scripts/app.js"></script>
</body>
</html>